.key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    box-shadow: 2px 1px 3px #999;
    width: 22px;
    margin: 0 3px 0 2px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}
