input[type=range][orient=vertical] {
    // writing-mode: bt-lr; /* IE */
    appearance: slider-horizontal; /* WebKit */
    width: 80px;
    height: 8px;
    padding: 0 5px;
}

.fader {
    cursor: pointer;
}
